[submodule "bundle/vundle"]
	path = bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "bundle/vim-misc"]
    path = bundle/vim-misc
    url = https://github.com/xolox/vim-misc.git
[submodule "bundle/vim-fugitive"]
    path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/bundle/vim-easymotion"]
    path = bundle/vim-easymotion
    url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/vim-easytags"]
    path = bundle/vim-easytags
    url = https://github.com/xolox/vim-easytags.git
[submodule "bundle/vim-virtualenv"]
    path = bundle/vim-virtualenv
    url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule "bundle/pydoc.vim"]
    path = bundle/pydoc.vim
    url = https://github.com/vim-scripts/pydoc.vim.git
[submodule "bundle/vim-git"]
    path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/vim-ipython"]
    path = bundle/vim-ipython
	url = https://github.com/ivanov/vim-ipython.git
[submodule "bundle/vim-slime"]
    path = bundle/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "bundle/undotree"]
    path = bundle/undotree
    url = https://github.com/mbbill/undotree.git
[submodule "bundle/httplog"]
    path = bundle/httplog
    url = https://github.com/vim-scripts/httplog.git
[submodule "bundle/vim-syntax-apache"]
    path = bundle/vim-syntax-apache
    url = https://github.com/apeschel/vim-syntax-apache.git
[submodule "bundle/MatchTag"]
    path = bundle/MatchTag
    url = https://github.com/gregsexton/MatchTag.git
