[submodule "bundle/vundle"]
    path = bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "bundle/vim-misc"]
    path = bundle/vim-misc
    url = https://github.com/xolox/vim-misc.git
[submodule "bundle/vim-fugitive"]
    path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/bundle/vim-easymotion"]
    path = bundle/vim-easymotion
    url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/YouCompleteMe"]
    path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/syntastic"]
    path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/Command-T"]
    path = bundle/Command-T
    url = https://github.com/wincent/Command-T.git
[submodule "bundle/vim-easytags"]
    path = bundle/vim-easytags
    url = https://github.com/xolox/vim-easytags.git
[submodule "bundle/python-syntax"]
    path = bundle/python-syntax
    url = https://github.com/hdima/python-syntax.git
[submodule "bundle/vim-virtualenv"]
    path = bundle/vim-virtualenv
    url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule "bundle/fisa-vim-config"]
    path = bundle/fisa-vim-config
    url = https://github.com/fisadev/fisa-vim-config.git
[submodule "bundle/python_ifold"]
    path = bundle/python_ifold
    url = https://github.com/vim-scripts/python_ifold.git
[submodule "bundle/pydoc.vim"]
    path = bundle/pydoc.vim
    url = https://github.com/vim-scripts/pydoc.vim.git
[submodule "bundle/vim-git"]
    path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/vim-ipython"]
    path = bundle/vim-ipython
	url = https://github.com/ivanov/vim-ipython.git
[submodule "bundle/vim-slime"]
    path = bundle/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "bundle/undotree"]
    path = bundle/undotree
    url = https://github.com/mbbill/undotree.git
[submodule "bundle/vim-surround"]
    path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vimpdb"]
    path = bundle/vimpdb
	url = https://github.com/gotcha/vimpdb.git
